# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rproj.user
*.Rproj

# certificates and ebooks
VerifiedCertificates
CourseDependencies.pdf
eBooks

# in general, we don't want html files
# use !specific.html to negate ignoring a specific file
*.html

# quiz and data files / directories
UCI\ HAR\ Dataset
02_RProgramming/assignment_1/specdata
05_ReproducibleResearch/PeerAssessment2/StormData.csv.bz2
05_ReproducibleResearch/PeerAssessment2/Severe_Weather_Events_*
06_StatisticalInference/course_project_cache
06_StatisticalInference/course_project_files
06_StatisticalInference/*.pdf
