# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rproj.user
*.Rproj

# certificates and other coursera files
VerifiedCertificates
CourseDependencies.pdf
eBooks

# course material
01_TheDataScientistsToolbox
02_RProgramming
03_GettingAndCleaningData
04_ExploratoryDataAnalysis
05_ReproducibleResearch


# quiz and data files / directories
quiz*
data
README.html
CodeBook.html
UCI\ HAR\ Dataset
