# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rproj.user
*.Rproj

# certificates and other coursera files
VerifiedCertificates
CourseDependencies.pdf

# course material
01_TheDataScientistsToolbox
02_RProgramming
03_GettingAndCleaningData_old

# quiz and data files / directories
quiz*
data
README.html
CodeBook.html
UCI\ HAR\ Dataset
